<app-navbar></app-navbar>

<section class="py-16 bg-[#1E1E1E] text-white pt-32">
  <div class="max-w-6xl mx-auto px-6">
    <h3 class="text-sm uppercase text-gray-500 font-semibold">
      Some of Our Works
    </h3>
    <h2 class="md:text-5xl font-bold leading-tight">Our Portfolio</h2>
    <p class="text-gray-300 text-sm mt-4">
      We take pride in delivering exceptional services backed by expertise,
      innovation and dedicated support. Here’s what sets us apart:
    </p>
  </div>

  <div
    class="max-w-6xl text-white mx-auto px-6 py-12 flex flex-col md:flex-row gap-8"
  >
    <!-- Image -->
    <div>
      <img
        src="images/images2.jpg"
        alt="Hookah Group"
        class="w-full rounded-2xl shadow-lg"
      />
    </div>

    <!-- Text Content -->
    <div class="w-full md:w-2/3">
      <h2 class="text-4xl font-medium">Why choose us?</h2>
      <p class="text-white mt-4 text-sm mb-2">
        Neque quisque sollicitudin tempor vestibulum elit taciti. Sagittis
        tempor consequat turpis. Aenean curae elementum vestibulum dapibus vitae
        laoreet. Bibendum suspendisse himenaeos malesuada. Nisl taciti si platea
        dui. Euismod malesuada facilisis duis lobortis aliquet massa. Tincidunt
        vivamus ac consectetuer molestie pharetra. Sodales pulvinar non
        habitant.
      </p>
      <ul class="list-disc pl-6 text-sm">
        <li>SUSTAINABLY SOURCED</li>
        <li>HIGH-QUALITY MATERIALS</li>
        <li>FAST DELIVERY</li>
        <li>EXCELLENT CUSTOMER SERVICE</li>
      </ul>
      <button
        class="mt-3 bg-white text-black px-4 py-2 rounded-lg hover:bg-gray-300 cursor-pointer"
      >
        Read more
      </button>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-6">
    <div class="flex space-x-6 mb-8 flex-wrap gap-y-4 mt-6">
      <a
        href=""
        class="border border-white px-4 py-1 rounded-full hover:bg-white hover:text-[#1E1E1E]"
        >BRANDS</a
      >
      <a
        href=""
        class="border border-white px-4 py-1 rounded-full hover:bg-white hover:text-[#1E1E1E]"
        >PROJECTS</a
      >
      <a
        href=""
        class="border border-white px-4 py-1 rounded-full hover:bg-white hover:text-[#1E1E1E]"
        >TECHNOLOGY</a
      >
    </div>
    <!-- Grid Layout -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
      <div class="w-64 h-64 bg-gray-300"></div>
    </div>
  </div>
</section>

<!-- Call-to-Action Section -->
<section
  class="bg-white py-24 call text-[#1E1E1E] flex flex-col justify-center"
>
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-5xl font-bold mb-4">Ready to Transform Your Business?</h2>
    <p class="text-lg mb-6">
      Contact us today and let’s get started on your journey to success!
    </p>
    <a
      href="/contact"
      class="bg-[#1E1E1E] text-white px-6 py-3 rounded-lg font-semibold explore-btn"
      >Contact Us</a
    >
  </div>
</section>

<app-footer></app-footer>
